#formTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

#buttons-group {
  margin-block-start: 5%;
}

#saveButton {
  width: 90%;
}

#backButton {
  width: 90%;
  margin-inline-start: 10%;
}

#dropdownMenuButton {
  width: 100%;
}

.dropdown-menu {
  text-align: center;
}
