<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 id="formTitle">Add Activity</h1>

      <form (ngSubmit)="!activityForm.invalid && createActivity()" #activityForm="ngForm">

        <div class="form-group">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            {{activity.activityType.activityName}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let activityType of activityTypes" class="dropdown-item"
               (click)="selectActivityType(activityType)">{{activityType.activityName}}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">
              <div class="input-group mb-3">
                <input [(ngModel)]="currentActivityType.activityName" id="newActivityName" type="text"
                       class="form-control" name="newActivityName">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="addActivityType()"><i
                    class="fas fa-plus"></i></button>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="form-group">
          <textarea [(ngModel)]="activity.description" class="form-control" id="description" name="description"
                    aria-describedby="descriptionHelp" placeholder="Enter description"></textarea>
          <small id="descriptionHelp" class="form-text text-muted">Tell me something more</small>
        </div>

        <div class="form-group">
          <input [(ngModel)]="activity.activityDate" class="form-control" type="date" name="date">
        </div>

        <div class="form-row">
          <div class="col">
            <input [(ngModel)]="activity.startTime" class="form-control" type="text" name="start"
                   aria-describedby="startDateHelp" required="required"
                   pattern="(([0-1][0-9])|([2][0-3])):([0-5][0-9]):([0-5][0-9])" placeholder="HH:MM:SS">
            <small id="startDateHelp" class="form-text text-muted">When did you start?</small>
          </div>
          <div class="col">
            <input [(ngModel)]="activity.finishTime" class="form-control" type="text" name="finish"
                   aria-describedby="finishDateHelp" required="required"
                   pattern="(([0-1][0-9])|([2][0-3])):([0-5][0-9]):([0-5][0-9])" placeholder="HH:MM:SS">
            <small id="finishDateHelp" class="form-text text-muted">When did you finish?</small>
          </div>

        </div>

        <div class="form-row" id="buttons-group">
          <div class="col">
            <button type="button" class="btn btn-primary btn-lg" (click)="createActivity()" id="saveButton"
                    [disabled]="activityForm.invalid || activity.activityType.id==-1">Save
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-dark btn-lg" (click)="navigateToList()" id="backButton">Back</button>
          </div>

        </div>

      </form>

    </div>

  </div>

</div>
