<div class="container">
  <div class="col-lg-10 col-lg-offset-1">
    <h1>Activities</h1>
    <!--       TODO: Table does not want to fill whole container-->
    <div class="table-responsive-lg">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Start</th>
          <th>Finish</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let activity of activities">
          <td>{{activity.title}}</td>
          <td>{{activity.start}}</td>
          <td>{{activity.finish}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

