.table {
  position: relative;
  height: 100%;
  width: 100%;
}

#trashIcon {
  margin-inline-start: 40%;
}

#editIcon {
  margin-inline-start: 10%;
}

#activityListContainer {
  margin-inline-start: 8.5%;
}

#actionsTitle {
  /*TODO: Text 'Actions' should be in center related to icons*/
  text-align: center;
  /*padding-right: 2%;*/
  margin-inline-start: 40%;
}

#date {
  text-align: right;
}

#activitiesTitle {
  position: absolute;
}
